.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.fvm/flutter_sdk
.idea/
build/
coverage/
*.iml
*.log
*.lockfile
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# Local application data and credentials.
settings.json
*.part
